:root {
  --header-height: 10vh;
  --footer-height: 15vh;

  --homePage-height: calc(100vh - (var(--header-height) + var(--footer-height)));
  --margin-page: var(--header-height);

  --padding-board: 10px;

  --light-white: #e7dfd5;
  --blue-color: #3b6978;

  --h2-font-size-mobile: 1rem;
  --p-font-size-mobile: 0.8rem;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-white);
  color: var(--light-white);
}

.nameTitle {
  font-size: 1.3rem;
}

.titleArticle {
  color: var(--blue-color);
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--blue-color);
}

.pwrOff {
  color: var(--light-white);
}

.pwrOff:hover {
  color: rgba(231, 223, 213, 0.7);
}


/* HOME PAGE */
.homePage {
  position: relative;
  margin-top: var(--margin-page);
  width: 100%;
  height: var(--homePage-height);
}

.homePage article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 40vh;
  width: 60%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  background-color: var(--light-white);
}

.loginForm {
  padding: 30px;
  background-color: var(--blue-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.loginForm .inputDiv {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm input {
  border: none;
  padding: 5px;
  border-radius: 8px;
  margin-top: 5px;
}

.linkToCreate {
  height: 100%;
  width: 100%;
  background-color: var(--blue-color);
  color: var(--light-white);
  text-decoration: underline;
  text-align: center;
}

/* REGISTER PAGE */
.registerPage {
  position: relative;
  margin-top: var(--margin-page);
  width: 100%;
  height: var(--homePage-height);
}

.registerPage article {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: var(--margin-page);
  transform: translate(-50%, -50%);
  width: 80%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  background-color: var(--light-white);
}

.selects {
  display: flex;
  justify-content: space-around;
}

.selects .inputSelect {
  display: flex;
  flex-direction: column;
}

/* DIVING BOARD */
.divingBoard {
  width: 100%;
  margin-top: var(--margin-page);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divingBoard section {
  width: 80%;
  display: grid;
  grid-template-columns: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.divingBoard section .lastDivesBoard {
  width: 100%;
  background-color: var(--blue-color);
  padding: var(--padding-board);
}

.lastDivesBoard table {
  width: 100%;
  text-align: center;
}

.selects {
  margin-bottom: 5vh;
}

.palanquee {
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
}

.choseDiver {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.palanquee button {
  padding: 8px 10px;
  border-radius: 50%;
}

.palanquee .diversList {
  color: var(--blue-color);
  background-color: var(--light-white);
  padding: 30px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

@media screen and (max-width: 600px) {
  .divingBoard section {
    width: 100%;
  }

  .lastDivesBoard table tr {
    height: 3vh;
  }

  .lastDivesBoard table th {
    font-size: 0.9rem;
  }

  .lastDivesBoard table td {
    font-size: var(--p-font-size-mobile);
  }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  .homePage article {
    min-height: 40vh;
    width: 80%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;
  }
}

@media screen and (max-width: 400px) {
  .homePage article {
    min-height: 40vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;
  }

  .registerPage article {
    width: 100%;
  }
}